html,
      body {
        font-family: Arial, sans-serif;
        height: 100%;
        margin: 0;
        padding: 0;
      }
.container {
        height: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -webkit-box-pack: start;
            -ms-flex-pack: start;
                justify-content: flex-start;

      }
input {
        font-size: 12px;
      }
#hide-listings,
      #show-listings {
        width: 48%;
      }
#map {
        bottom:0px;
        height: 100%;
        left: 32%;
        position: absolute;
        right: 0px;
      }
.options-box {

        display: -webkit-box;

        display: -ms-flexbox;

        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-flow: column nowrap;
                flex-flow: column nowrap;
        background: #5096b0;
        border: 1px solid #999;
        border-radius: 3px;
        height: 100%;
        width: 32%;
        line-height: 35px;



      }
.options-box__header {
        color: #525454;
        font-size: 20px;
        margin: 0 0 10px 0;
        text-align: center;
}
.options-box__show-hide {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        margin: 0 2% 3% 1%;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
}
@media (min-width: 800px) {
        .options-box__show-hide {
                margin: 0 5% 3% 0;
        }
}
.options-box__search {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: start;
            -ms-flex-align: start;
                align-items: flex-start;
        margin: 1% 0 1% 2.5%;
}
.options-box__search__search-box {
        width: 92%;
}
.options-box__list {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        margin: 0 0 0 0;
        padding: 0 0 0 15%;
}
@media (min-width: 1010px) {
        .options-box {
                line-height: 35px;
                padding: 10px 10px 30px 10px;
                text-align: left;
        }
}
#pano {
        width: 200px;
        height: 200px;
      }
