@import "base/_global";
@import "base/_variables";
@import "base/_mixins";

      html,
      body {
        font-family: Arial, sans-serif;
        height: 100%;
        margin: 0;
        padding: 0;
      }

      .container {
        height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;

      }

      input {
        font-size: 12px;
      }

      #hide-listings,
      #show-listings {
        width: 48%;
      }

      #map {
        bottom:0px;
        height: 100%;
        left: 32%;
        position: absolute;
        right: 0px;
      }

      .options-box {

        display: flex;
        flex-flow: column nowrap;
        background: #5096b0;
        border: 1px solid #999;
        border-radius: 3px;
        height: 100%;
        width: 32%;
        line-height: 35px;

        &__header {
          color: #525454;
          font-size: 20px;
          margin: 0 0 10px 0;
          text-align: center;
        }

        &__show-hide {
          display: flex;
          margin: 0 2% 3% 1%;
          justify-content: space-between;

          @mixin atMedium {
            margin: 0 5% 3% 0;
          }
        }

        &__search {
          display: flex;
          align-items: flex-start;
          margin: 1% 0 1% 2.5%;

          &__search-box {
            width: 92%;
          }
        }

        &__list {
          display: flex;
          flex-direction: column;
          margin: 0 0 0 0;
          padding: 0 0 0 15%;

        }

        @mixin atLarge {
        line-height: 35px;
        padding: 10px 10px 30px 10px;
        text-align: left;
        }



      }

      #pano {
        width: 200px;
        height: 200px;
      }
