
.options-box {
    display: flex;
    flex-flow: column nowrap;
    flex: 0 1 auto;
    background: $newBlue;
    z-index: 60;
    width: 30%;
    max-width: 250px;
    padding: 20px 10px 0 20px;
    line-height: 35px;
    -webkit-box-shadow: 20px -13px 15px -19px rgba(0,0,0,0.75);
    -moz-box-shadow: 20px -13px 15px -19px rgba(0,0,0,0.75);
    box-shadow: 20px 5px 15px -19px rgba(0,0,0,0.75);



    &__header {
        color: white;
        font-size: 20px;
        font-weight: 200;
        padding: 0 0 0 3px;
        margin: 0 0 0 0;
        line-height: 20px;
        text-align: left;

        @mixin atLarge {
            padding: 0 0 0 15px;
        }
    }
    &__attribution {
        font-size: 0.7rem;
        line-height: 10px;
        text-align: left;
        padding: 0 0 0 3px;

        @mixin atLarge {
            padding: 0 0 0 15px;
        }
    }
    &__show-hide {
        display: flex;
        margin: 0 0 1% 0;
        justify-content: space-between;
        max-width: 226.5px;
        @mixin atMedium {
            margin: 0 0 0 0;
        }
    }
    &__search {
        display: flex;
        align-items: flex-start;
        margin: 3% 0 1% 0;
        &__search-box {
            width: 100%;
            max-width: 220px;
        }
    }
    &__list {
        display: flex;
        flex-direction: column;
        list-style: none;
        margin: 0 0 0 0;
        padding: 0 0 0 3px;
        font-size: .9rem;

        @mixin atLarge {
            padding: 0 0 0 15px;
            text-align: left;
        }
    }
    @mixin atLarge {
        line-height: 35px;
        padding: 10px 10px 30px 10px;
        text-align: left;
    }
}